In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
mainpath = "C:/Users/mromo/Desktop/Rappi/Datasets/"
cuentas= "Cuentas Bancarias.csv"
bancario = os.path.join(mainpath,cuentas)
Semanas = {}

In [5]:
for x in 26 and range(28,35):
    pagos = "S" + str(x) + "/" + "Pagos Vigentes.xlsx"
    pagable = os.path.join(mainpath,pagos)
    if x < 27:
        pagina = "Resumen s" + str(x)
    else:
        pagina = "semana" + str(x)
    Semanas[x] = pd.read_excel(pagable, pagina, header = 2)

In [ ]:
RT_Info = pd.DataFrame(columns = Semanas[30].columns)

In [6]:
RT_Info

Empty DataFrame
Columns: [id, nombre, Sem., dias trabajados, Tiempo de Conexión (minutos), Tiempo de Conexión (horas), Cupos Reservados, Cupos Cumplidos, Cumplimiento (%), Cantidad
Sampling, N° Ordenes Producción, N° Ordenes con Sampling, Producción, Propinas, Ganancia Sampling, Bonos e Incentivos, Ganancias sin Garantía, Garantías Efectivas, Garantías Efectivas2, Liberaciones por semana, Subtotal Ganancias, efectivoRT, efectivoRT real, efectivoRT
pendiente, Subtotal - Efectivo, Descto Equipo, Descto Equipo efectivo, Dif, Total a Pagar, Total Descuento, Total a Pagar2, Ganancias por HoraConexión, Adeudado por RT, Total Semana, Ganancias sin DF cash y sin Propina cash, Delivery Fees con Cash, Monto Líquido Rappi, Total RT con propinas
[sin cash], Dif2, Horas Punta, Horas
Madrugada
y Trasnoche, semana+id
(aux), columna84]
Index: []

[0 rows x 43 columns]

In [7]:
for x in Semanas:
    Semanas[x].rename(columns ={'id':'ID'})
    RT_Info = RT_Info.append(Semanas[x].loc[Semanas[x]['id'] == ID_RT], sort=False)
    print(x)

28
29
30
31
32
33
34

In [1]:
Semanas[34].columns

NameError: name 'Semanas' is not defined

In [9]:
RT_Info

,id,nombre,Sem.,dias trabajados,Tiempo de Conexión (minutos),Tiempo de Conexión (horas),Cupos Reservados,Cupos Cumplidos,Cumplimiento (%),Cantidad Sampling,...,Producción con Sampling sin Propinas,Cupos Mínimos,Pagos1,Total a Pagar3,efectivo mal descontado,Pago 1,Pago 2,Ganancias por hora conexión,Bonos Equipo,Incentivos
422,10967,Arcadio Jose Contreras Ramirez,30.0,5.0,2175.150000,36.252500,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,10967,Arcadio Jose Contreras Ramirez,31.0,7.0,3053.340000,50.889000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,10967,Arcadio Jose Contreras Ramirez,32.0,6.0,3663.000000,61.050000,20.0,0.0,0.0,5.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,3644.963145,NaN,NaN
324,10967,Arcadio Jose Contreras Ramirez,33.0,5.0,2619.583333,43.659722,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,4043.772865,NaN,NaN
439,10967,Arcadio Jose Contreras Ramirez,34.0,6.0,4012.833333,66.880556,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4125.264776,0.0,12000.0

In [10]:
RT_Detail = RT_Info.loc[:,'id':'Descto Equipo efectivo']

In [11]:
RT_Detail.dropna(how="all")

,id,nombre,Sem.,dias trabajados,Tiempo de Conexión (minutos),Tiempo de Conexión (horas),Cupos Reservados,Cupos Cumplidos,Cumplimiento (%),Cantidad Sampling,...,Garantías Efectivas,Garantías Efectivas2,Liberaciones por semana,Subtotal Ganancias,efectivoRT,efectivoRT real,efectivoRT pendiente,Subtotal - Efectivo,Descto Equipo,Descto Equipo efectivo
422,10967,Arcadio Jose Contreras Ramirez,30.0,5.0,2175.150000,36.252500,0.0,0.0,0.0,0.0,...,28600.0,28600.0,0.0,139600.0,-25380.0,-25380.0,0.0,114220.0,0.0,0.0
374,10967,Arcadio Jose Contreras Ramirez,31.0,7.0,3053.340000,50.889000,0.0,0.0,0.0,0.0,...,37700.0,0.0,1.0,98600.0,-48000.0,-48000.0,0.0,50600.0,-13333.0,-13333.0
357,10967,Arcadio Jose Contreras Ramirez,32.0,6.0,3663.000000,61.050000,20.0,0.0,0.0,5.0,...,59825.0,59825.0,0.0,222525.0,-51850.0,-51850.0,0.0,170675.0,-13334.0,-13334.0
324,10967,Arcadio Jose Contreras Ramirez,33.0,5.0,2619.583333,43.659722,0.0,0.0,0.0,0.0,...,34475.0,34475.0,0.0,176550.0,-120224.0,-120224.0,0.0,56326.0,-13333.0,-13333.0
439,10967,Arcadio Jose Contreras Ramirez,34.0,6.0,4012.833333,66.880556,0.0,0.0,0.0,0.0,...,105075.0,105075.0,0.0,275900.0,-139525.0,-139525.0,0.0,136375.0,0.0,0.0

In [12]:
RT_Detail= RT_Detail.drop(list(RT_Detail)[2:12],axis=1)
RT_Detail

,id,nombre,Producción,Propinas,Ganancia Sampling,Bonos e Incentivos,Ganancias sin Garantía,Garantías Efectivas,Garantías Efectivas2,Liberaciones por semana,Subtotal Ganancias,efectivoRT,efectivoRT real,efectivoRT pendiente,Subtotal - Efectivo,Descto Equipo,Descto Equipo efectivo
422,10967,Arcadio Jose Contreras Ramirez,95500.0,15500.0,0.0,0.0,111000.0,28600.0,28600.0,0.0,139600.0,-25380.0,-25380.0,0.0,114220.0,0.0,0.0
374,10967,Arcadio Jose Contreras Ramirez,75600.0,23000.0,0.0,0.0,98600.0,37700.0,0.0,1.0,98600.0,-48000.0,-48000.0,0.0,50600.0,-13333.0,-13333.0
357,10967,Arcadio Jose Contreras Ramirez,116200.0,19500.0,7000.0,20000.0,162700.0,59825.0,59825.0,0.0,222525.0,-51850.0,-51850.0,0.0,170675.0,-13334.0,-13334.0
324,10967,Arcadio Jose Contreras Ramirez,91075.0,22000.0,0.0,29000.0,142075.0,34475.0,34475.0,0.0,176550.0,-120224.0,-120224.0,0.0,56326.0,-13333.0,-13333.0
439,10967,Arcadio Jose Contreras Ramirez,132575.0,26250.0,0.0,12000.0,170825.0,105075.0,105075.0,0.0,275900.0,-139525.0,-139525.0,0.0,136375.0,0.0,0.0

In [13]:
RT_Summary = pd.DataFrame(columns = RT_Detail.columns)
RT_Summary

Empty DataFrame
Columns: [id, nombre, Producción, Propinas, Ganancia Sampling, Bonos e Incentivos, Ganancias sin Garantía, Garantías Efectivas, Garantías Efectivas2, Liberaciones por semana, Subtotal Ganancias, efectivoRT, efectivoRT real, efectivoRT
pendiente, Subtotal - Efectivo, Descto Equipo, Descto Equipo efectivo]
Index: []

In [14]:
RT_Summary = RT_Detail.groupby('id').sum()

In [15]:
RT_Summary = RT_Summary.drop(list(RT_Summary)[0:18] , axis =1)
RT_Summary

Empty DataFrame
Columns: []
Index: [10967]