In [37]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
from time import mktime

In [2]:
semana1 = input("Ingrese Semana 1: ")
semana2 = input("Ingrese Semana 2: ")

Ingrese Semana 1: 41
Ingrese Semana 2: 42

# Carga de Datos

In [19]:
mainpath = "C:/Users/mromo/Desktop/Rappi/Datasets/S"+semana1+"/Data"
mainpath2 = "C:/Users/mromo/Desktop/Rappi/Datasets/S"+semana2+"/Data"
mainpath3 = "C:/Users/mromo/Desktop/Rappi/Datasets/BD Datos RT.xlsx"
conexion_path = "Info Conexion.csv"
fp1 = os.path.join(mainpath,conexion_path)
fp2 = os.path.join(mainpath2,conexion_path)

# Data Frames

In [51]:
df1 = pd.read_csv(fp1, parse_dates = ['fecha'])
df2 = pd.read_csv(fp2, parse_dates = ['fecha'])
df3 = pd.read_excel(mainpath3, parse_dates = ['created_at'])

In [5]:
df1.head()

   skid      fecha  hora      time  orders  ganancia tenia_cupo
0     1 2018-10-09     0  1.766667     NaN       NaN         No
1     1 2018-10-09     1  1.233333     NaN       NaN         No
2     1 2018-10-09     2  1.383333     NaN       NaN         No
3     1 2018-10-09     3  1.016667     NaN       NaN         No
4     1 2018-10-09     4  1.583333     NaN       NaN         No

In [74]:
df_nuevos = df3[df3['created_at']>='2018-10-10']
nuevos_id = df_nuevos['id'].tolist()

df1group = df1.groupby('skid').sum()
df2group = df2.groupby('skid').sum()

In [7]:
df1group = df1group.reset_index()
df2group = df2group.reset_index()

In [94]:
df3 = pd.merge(df1group, df2group, on='skid', how='outer')

In [95]:
df3.head()

,skid,hora_x,time_x,orders_x,ganancia_x,hora_y,time_y,orders_y,ganancia_y
0,1,2016.0,357.966667,0.0,0.0,1656.0,217.633333,0.0,0.0
1,10042,860.0,3547.750000,6.0,9100.0,431.0,1553.000000,9.0,15800.0
2,10045,976.0,2363.683333,30.0,52300.0,772.0,2122.716667,26.0,38500.0
3,10047,568.0,1775.733333,13.0,22200.0,1054.0,2797.000000,38.0,60300.0
4,10048,837.0,2654.666667,40.0,72400.0,973.0,2803.100000,40.0,63600.0

In [96]:
df3 = df3.drop(['hora_x', 'hora_y'], axis=1)

In [97]:
df3 = df3.rename(columns = {'time_x':'Horas S'+semana1, 'orders_x':'Ordenes S'+semana1, 'ganancia_x':'Ganancia S'+semana1,
                      'time_y':'Horas S'+semana2, 'orders_y':'Ordenes S'+semana2, 'ganancia_y':'Ganancia S'+semana2})
df3['Horas S'+semana1] = df3['Horas S'+semana1].apply(lambda x: x/60)
df3['Horas S'+semana2] = df3['Horas S'+semana2].apply(lambda x: x/60)

In [98]:
df6 = df3
df6.insert(7, 'Variacion en Horas de Conexion', np.abs(df6['Horas S'+semana1]-df6['Horas S'+semana2]))

In [99]:
df6

,skid,Horas S41,Ordenes S41,Ganancia S41,Horas S42,Ordenes S42,Ganancia S42,Variacion en Horas de Conexion
0,1,5.966111,0.0,0.0,3.627222,0.0,0.0,2.338889
1,10042,59.129167,6.0,9100.0,25.883333,9.0,15800.0,33.245833
2,10045,39.394722,30.0,52300.0,35.378611,26.0,38500.0,4.016111
3,10047,29.595556,13.0,22200.0,46.616667,38.0,60300.0,17.021111
4,10048,44.244444,40.0,72400.0,46.718333,40.0,63600.0,2.473889
5,10059,23.295278,14.0,19600.0,2.096667,0.0,0.0,21.198611
6,10061,5.359444,0.0,0.0,2.107500,0.0,0.0,3.251944
7,10065,38.281944,22.0,45000.0,38.962222,29.0,59300.0,0.680278
8,10066,47.468611,52.0,88200.0,14.709722,14.0,23300.0,32.758889
9,10067,23.904444,33.0,52300.0,25.953889,35.0,50700.0,2.049444
10,10070,28.708056,9.0,13800.0,0.310278,0.0,0.0,28.397778
11,10075,7.215556,7.0,11600.0,0.618333,0.0,0.0,6.597222
12,10079,7.914444,1.0,1400.0,9.314167,7.0,9800.0,1.399722
13,10082,49.062222,61.0,102700.0,7.703889,2.0,3500.0,41.358333
14,10083,15.007778,7.0,13200.0,3.787778,1.0,1400.0,11.220000
15,10086,61.352778,54.0,88600.0,33.109167,47.0,70300.0,28.243611
16,10089,22.878611,26.0,40600.0,NaN,NaN,NaN,NaN
17,10091,22.789444,1.0,2100.0,NaN,NaN,NaN,NaN
18,10094,0.339167,0.0,0.0,NaN,NaN,NaN,NaN
19,10097,5.363889,6.0,10800.0,0.321667,0.0,0.0,5.042222
20,10101,3.655278,1.0,1400.0,16.373889,18.0,26400.0,12.718611
21,10104,4.110556,7.0,12800.0,23.540278,27.0,42300.0,19.429722
22,10105,0.003889,0.0,0.0,18.541944,16.0,23700.0,18.538056
23,10110,1.278056,0.0,0.0,NaN,NaN,NaN,NaN
24,10112,65.292500,87.0,160300.0,71.017778,59.0,97300.0,5.725278
25,10113,58.106111,56.0,95400.0,52.130278,67.0,119700.0,5.975833
26,10115,38.513889,45.0,85400.0,53.555556,54.0,95500.0,15.041667
27,10119,36.104167,25.0,38800.0,25.364444,19.0,27900.0,10.739722
28,10121,0.017778,0.0,0.0,NaN,NaN,NaN,NaN
29,10123,72.671389,19.0,34500.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1103,12903,NaN,NaN,NaN,0.003056,0.0,0.0,NaN
1104,12904,NaN,NaN,NaN,3.835833,4.0,5600.0,NaN
1105,12905,NaN,NaN,NaN,3.799722,3.0,4200.0,NaN
1106,12915,NaN,NaN,NaN,7.296944,1.0,1400.0,NaN
1107,12917,NaN,NaN,NaN,3.566111,2.0,2800.0,NaN
1108,12918,NaN,NaN,NaN,4.168056,3.0,4200.0,NaN
1109,12919,NaN,NaN,NaN,1.123056,1.0,1400.0,NaN
1110,12920,NaN,NaN,NaN,0.010000,0.0,0.0,NaN
1111,12921,NaN,NaN,NaN,2.370833,3.0,4200.0,NaN
1112,12922,NaN,NaN,NaN,1.031667,1.0,1400.0,NaN
1113,12924,NaN,NaN,NaN,2.115833,2.0,2800.0,NaN
1114,12926,NaN,NaN,NaN,10.550833,1.0,1400.0,NaN
1115,12927,NaN,NaN,NaN,5.757500,4.0,6200.0,NaN
1116,12928,NaN,NaN,NaN,0.026667,0.0,0.0,NaN
1117,12933,NaN,NaN,NaN,3.140833,1.0,1400.0,NaN
1118,12935,NaN,NaN,NaN,0.011667,0.0,0.0,NaN
1119,12936,NaN,NaN,NaN,1.281111,1.0,1400.0,NaN
1120,12937,NaN,NaN,NaN,2.384722,2.0,2800.0,NaN
1121,12938,NaN,NaN,NaN,3.058889,4.0,6200.0,NaN
1122,12939,NaN,NaN,NaN,0.465833,1.0,1400.0,NaN
1123,12940,NaN,NaN,NaN,3.346111,1.0,1400.0,NaN
1124,12942,NaN,NaN,NaN,0.575833,0.0,0.0,NaN
1125,12943,NaN,NaN,NaN,0.036389,0.0,0.0,NaN
1126,12944,NaN,NaN,NaN,1.712778,2.0,2800.0,NaN
1127,12945,NaN,NaN,NaN,0.030000,0.0,0.0,NaN
1128,12947,NaN,NaN,NaN,0.067778,0.0,0.0,NaN
1129,12948,NaN,NaN,NaN,1.674167,0.0,0.0,NaN
1130,12950,NaN,NaN,NaN,1.414444,0.0,0.0,NaN
1131,12951,NaN,NaN,NaN,0.004444,0.0,0.0,NaN
1132,12955,NaN,NaN,NaN,1.915278,2.0,2800.0,NaN

In [13]:
df3['Horas S'+semana1] = df3['Horas S'+semana1].fillna(df3['Horas S'+semana1].mean())
df3['Horas S'+semana2] = df3['Horas S'+semana2].fillna(df3['Horas S'+semana2].mean())
df3['Ordenes S'+semana1] = df3['Ordenes S'+semana1].fillna(df3['Ordenes S'+semana1].mean())
df3['Ordenes S'+semana2] = df3['Ordenes S'+semana2].fillna(df3['Ordenes S'+semana2].mean())
df3['Ganancia S'+semana1] = df3['Ganancia S'+semana1].fillna(df3['Ganancia S'+semana1].mean())
df3['Ganancia S'+semana2] = df3['Ganancia S'+semana2].fillna(df3['Ganancia S'+semana2].mean())

In [14]:
df_data = df3.describe().astype(int)
df_data = df_data.rename(index = {'count':'Total RTs Conectados', 'mean':'Tiempo Promedio Conexion'})

In [15]:
df4 = df3[df3['Horas S'+semana2]>40].sort_values(['Ordenes S'+semana2,'Horas S'+semana1], ascending = False)
df4 = df4.fillna(0)
df5 = df4[df4['Horas S'+semana1]<6]

In [16]:
df5.shape

(12, 7)

In [17]:
writer = pd.ExcelWriter('C:/Users/mromo/Desktop/Rappi/Datasets/Insights S'+semana2+'.xlsx')
df6.to_excel(writer,'Comparativo Semanas')
df4.to_excel(writer,'RTs 40 Horas de Conexion')
df5.to_excel(writer,'RTs Criticos')
df_data.to_excel(writer, 'Estadisticas')

writer.save()
writer.close()

PermissionError: [Errno 13] Permission denied: 'C:/Users/mromo/Desktop/Rappi/Datasets/Insights S42.xlsx'